html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space  */
    background: transparent;
    /* Optional: just make scrollbar invisible  */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

header {
    position: relative;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

button {
    position: absolute;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

header a {
    position: absolute;
    left: 83px;
    top: 30px;
}

header button>img {
    position: absolute;
    left: 6.14%;
    right: 14.82%;
    top: 20.6%;
    bottom: 6.6%;

}


header .firstButton {
    width: 160px;
    height: 45px;
    top: 38px;
    left: 1328px;
    background: linear-gradient(90deg, #4499D9 0%, #6CC0F2 100%);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 152.34%;
    /* or 21px */

    letter-spacing: 0.05em;
    text-transform: uppercase;
}

header .firstButton:hover {
    opacity: 0.8;
}

header .firstButton>p {
    color: white;
    position: absolute;
    left: 25.62%;
    right: 11.88%;
    top: 28.89%;
    bottom: 31.11%;
}

header .secondButton {
    width: 234px;
    height: 45px;
    top: 38px;
    left: 1512px;
    border: 1px solid #005799;
    background-color: white;
    color: #005799;
}

header .secondButton:hover {
    color: #6CC0F2;
}

header .secondButton>p {
    position: absolute;
    left: 20.59%;
    right: 20.45%;
    top: 26.67%;
    bottom: 33.33%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

header .thirdButton {
    width: 69px;
    height: 45px;
    top: 38px;
    left: 1768px;
    border: 1px solid #005799;
    background-color: white;
    color: #005799;
}

header .thirdButton:hover {
    color: #6CC0F2;
}

/* header .thirdButton:hover {
    opacity: 0.5;
} */

header .thirdButton>p {
    position: absolute;
    left: 20.29%;
    right: 50.72%;
    top: 28.89%;
    bottom: 31.11%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 152.34%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

header .thirdButton>img {
    position: absolute;
    left: 62.32%;
    right: 20.29%;
    top: 42.22%;
    bottom: 44.44%;
}

main {
    width: 100%;
    height: 2500px;
    box-sizing: border-box;
}

main>nav {
    position: fixed;
    width: 16px;
    height: 756px;
    left: 1865px;
    top: 115px;
}

#firstP {
    position: absolute;
    width: 31px;
    height: 16px;
    left: 0px;
    top: 0px;

    /* button */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 152.34%;
    /* or 21px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #6CC0F2;
    cursor: pointer;
    transition: all 0.2s;
    transform: rotate(90deg);
}

#secondP {
    position: absolute;
    width: 100px;
    height: 16px;
    left: -36px;
    top: 116px;

    /* button */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 152.34%;
    /* or 21px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #6CC0F2;
    cursor: pointer;
    transition: all 0.2s;
    transform: rotate(90deg);
}

#thirdP {
    position: absolute;
    width: 123px;
    height: 16px;
    left: -47px;
    top: 273px;

    /* button */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12.9px;
    line-height: 152.34%;
    /* or 21px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #6CC0F2;
    cursor: pointer;
    transition: all 1s;
    transform: rotate(90deg);
}

#fourthP {
    position: absolute;
    width: 102px;
    height: 16px;
    left: -36px;
    top: 430px;

    /* button */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13.5px;
    line-height: 152.34%;
    /* or 21px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #6CC0F2;
    cursor: pointer;
    transition: all 0.2s;
    transform: rotate(90deg);
}

#fifthP {
    position: absolute;
    width: 66px;
    height: 16px;
    left: -19px;
    top: 564px;

    /* button */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 152.34%;
    /* or 21px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #6CC0F2;
    cursor: pointer;
    transition: all 0.2s;
    transform: rotate(90deg);
}

#sixthP {
    position: absolute;
    width: 110px;
    height: 16px;
    left: -41px;
    top: 694px;

    /* button */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12.9px;
    line-height: 152.34%;
    /* or 21px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #6CC0F2;
    cursor: pointer;
    transition: all 0.2s;
    transform: rotate(90deg);
}

main>nav>img {
    position: absolute;
    width: 0px;
    height: 24.5px;

    border: 1px solid #6CC0F2;
}

main>article {
    width: inherit;
    height: inherit;
    box-sizing: inherit;
}

main .firstSection {
    position: relative;
    width: 1112px;
    height: 686px;
    top: 152px;
    float: left;
}

main .div {
    position: absolute;
    width: 1112px;
    height: 686px;
    background: url(image/pinguin.png)
}

main .firstSection>.firstDiv {
    position: absolute;
    z-index: 0;
    top: 0px;
    background: url(image/palm1.png);
    width: 337px;
    height: 699px;
}

main .secondDiv {
    background: url(image/palm2.png);
    position: absolute;
    width: 211px;
    height: 314px;
    left: 246px;
    top: 286px;
}

main .firstSection>h1 {
    position: absolute;
    width: 482px;
    height: 113px;
    left: 481px;
    top: 12px;

    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;
    /* identical to box height */


    color: #6CC0F2;

}

main .firstSection>p {
    position: absolute;
    width: 460px;
    height: 76px;
    left: 481px;
    top: 200px;

    /* main */

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;

    color: #6F6F6F;
}

main .firstSection>button {
    width: 220px;
    height: 45px;
    left: 677px;
    top: 300px;
    background: linear-gradient(90deg, #4499D9 0%, #6CC0F2 100%);
}

main .firstSection>button:hover {
    opacity: 0.8;
}

main .firstSection>button>p {
    position: absolute;
    left: 9.55%;
    right: 10%;
    top: 31.11%;
    bottom: 35.56%;

    /* button */
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 152.34%;
    /* or 21px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}

main .secondSection {
    position: absolute;
    width: 1286.09px;
    height: 800px;
    left: 720px;
    top: 193px;
    box-sizing: border-box;
}

main .secondSection>.divOne {
    position: absolute;
    width: 698px;
    height: 598px;
    left: 360px;
    top: 10px;

    background: url(image/Ellipse.png)
}

main .secondSection>.divTwo {
    position: absolute;
    width: 1200px;
    height: 367.12px;
    left: 0px;
    top: 377px;
    bottom: 57.54px;

    background: url(image/snow_back.png);
    background-repeat: no-repeat;
}

main .secondSection>.divThree {
    position: absolute;
    width: 533px;
    height: 800px;
    left: 430px;
    top: -10px;

    background: url(image/ballon.png);
}

main .secondSection>.divFour {
    background: url(image/snow_front.png);
    position: absolute;
    width: 1052px;
    height: 290px;
    top: 452px;
    left: 147px;
}

main .secondSection>img {
    position: absolute;
    left: 1020px;
    top: 610px;
    cursor: pointer;
}

main .divFive {
    background: url(image/white_gradient.png);
    width: 100%;
    height: 99px;
    position: absolute;
    left: 0px;
    top: 840px;
}

main .thirdSection {
    position: absolute;
    height: 703px;
    width: 100%;
    box-sizing: border-box;
    top: 1039px;
    /* background: linear-gradient(180deg, white 0%, #6CC0F2 50%, white 100%); */
}

main .thirdSection>p {
    position: absolute;
    width: 225px;
    height: 43px;
    left: 847px;
    top: 111px;

    /* block header */

    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #005799;
}

main .thirdSection>h1 {
    position: absolute;
    width: 1068.04px;
    height: 201px;
    left: 425px;
    top: 113px;

    /* block header big */

    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 171.266px;
    line-height: 201px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: rgba(235, 231, 231, 0.5);
}

main .thirdSection>section {
    position: absolute;
    width: inherit;
    box-sizing: inherit;
    display: flexbox;
    box-orient: horizontal;
    height: 600px;
    left: 0.05%;
    right: 0%;
    top: 203px;
}

main .thirdSection>section>#first {
    position: absolute;
    left: 386px;
    top: 21px;
    width: 264px;
    height: 416px;

    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(68, 153, 217, 0.3);
    border-radius: 5px;
}

main .thirdSection>section>#first>img {
    position: absolute;
    width: 100px;
    height: 83.74px;
    left: 84px;
    top: 64px;
    cursor: pointer;
}

main .thirdSection>section>#first>h5 {
    position: absolute;
    left: 13.64%;
    right: 12.5%;
    top: 46.15%;
    bottom: 41.11%;

    /* card text */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;

    color: #005799;
    cursor: pointer;
}

main .thirdSection>section>#first>p {
    position: absolute;
    left: 10.98%;
    right: 9.85%;
    top: 65.38%;
    bottom: 17.31%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    cursor: pointer;
    color: #6F6F6F;
}

main .thirdSection>section>#second {
    position: absolute;
    left: 680px;
    top: 21px;
    width: 264px;
    height: 416px;

    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(68, 153, 217, 0.3);
    border-radius: 5px;
}

main .thirdSection>section>#second>img {
    position: absolute;
    width: 135.4px;
    height: 120px;
    left: 64px;
    top: 43px;
    cursor: pointer;
}

main .thirdSection>section>#second>h5 {
    position: absolute;
    left: 13.64%;
    right: 12.5%;
    top: 46.15%;
    bottom: 41.11%;

    /* card text */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;

    color: #005799;
    cursor: pointer;
}

main .thirdSection>section>#second>p {
    position: absolute;
    left: 10.98%;
    right: 9.85%;
    top: 65.38%;
    bottom: 17.31%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    cursor: pointer;
    color: #6F6F6F;
}

main .thirdSection>section>#third {
    position: absolute;
    left: 974px;
    top: 21px;
    width: 264px;
    height: 416px;

    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(68, 153, 217, 0.3);
    border-radius: 5px;
}

main .thirdSection>section>#third>img {
    position: absolute;
    width: 70px;
    height: 107.5px;
    left: 99px;
    top: 49px;
    cursor: pointer;
}

main .thirdSection>section>#third>h5 {
    position: absolute;
    left: 13.64%;
    right: 12.5%;
    top: 46.15%;
    bottom: 41.11%;

    /* card text */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;

    color: #005799;
    cursor: pointer;
}

main .thirdSection>section>#third>p {
    position: absolute;
    left: 10.98%;
    right: 9.85%;
    top: 65.38%;
    bottom: 17.31%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    cursor: pointer;
    color: #6F6F6F;
}

main .thirdSection>section>#fourth {
    position: absolute;
    left: 1268px;
    top: 21px;
    width: 264px;
    height: 416px;

    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(68, 153, 217, 0.3);
    border-radius: 5px;
}

main .thirdSection>section>#fourth>img {
    position: absolute;
    width: 90px;
    height: 116.02px;
    left: 87px;
    top: 40px;
    cursor: pointer;
}

main .thirdSection>section>#fourth>h5 {
    position: absolute;
    left: 13.64%;
    right: 12.5%;
    top: 46.15%;
    bottom: 41.11%;

    /* card text */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;

    color: #005799;
    cursor: pointer;
}

main .thirdSection>section>#fourth>p {
    position: absolute;
    left: 10.98%;
    right: 9.85%;
    top: 65.38%;
    bottom: 17.31%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    cursor: pointer;
    color: #6F6F6F;
}

main .fourthSection {
    position: absolute;
    width: 100%;
    height: 800px;
    top: 1750px;
    box-sizing: border-box;
}

main .fourthSection>h1 {
    position: absolute;
    width: 272px;
    height: 43px;
    left: 834px;
    top: 80px;

    /* block header */

    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #005799;
}

main .fourthSection>h2 {
    position: absolute;
    width: 156px;
    height: 36.45px;
    left: 1071px;
    top: 173px;

    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 31.1028px;
    line-height: 36px;
    /* identical to box height */


    color: #6CC0F2;
}

main .fourthSection>h3 {
    position: absolute;
    width: 69.98px;
    height: 31.1px;
    top: 206.92px;
    left: 1071px;

    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 31.1028px;
    line-height: 36px;

    color: #005799;
}

main .fourthSection>p {
    position: absolute;
    width: 462px;
    height: 218px;
    left: 1071px;
    top: 262px;

    /* main */

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;

    color: #6F6F6F;
}

main .fourthSection>h4 {
    position: absolute;
    left: 1073px;
    top: 470px;

    /* card text */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;

    color: #6CC0F2;
}

main .fourthSection>button {
    left: 1071px;
    top: 629px;
    width: 220px;
    height: 45px;

    background: linear-gradient(90deg, #4499D9 0%, #6CC0F2 100%);
}

main .fourthSection>button:hover {
    opacity: 0.8;
}

main .fourthSection>button>p {
    position: absolute;
    left: 9.55%;
    right: 10%;
    top: 31.11%;
    bottom: 35.56%;

    /* button */

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 152.34%;
    /* or 21px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}

main .fourthSection>section {
    display: flexbox;
    box-orient: vertical;
    width: 100px;
    height: 500px;
}

main .fourthSection>.two {
    position: absolute;
    width: 554px;
    height: 554px;
    left: 485px;
    top: 176px;

    background: linear-gradient(360deg, #7EC3EA 10.67%, #EAF8FF 100%);
    border-radius: 500px;
}

main .fourthSection>.two>.firstImg {
    background: url(image/palm2.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 211px;
    height: 314px;
    left: 24px;
    top: 194px;
}

main .fourthSection>.two>.secondImg {
    background: url(image/MaskGroup.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 554px;
    height: 554px;
    left: 0px;
    top: 0px;
}

main .fourthSection>.two>.thirdImg {
    position: absolute;
    width: 238px;
    height: 421px;
    left: 158px;
    top: 73px;

    background: url(image/ballon_pink.png);
}

main .fourthSection>.two>.fourthImg {
    position: absolute;
    width: 554px;
    height: 554px;
    left: 0px;
    top: 0px;

    background: url(image/MaskGroupFace.png);
}

main .fourthSection>.borderImage {
    position: absolute;
    width: 554px;
    height: 473px;
    left: 485px;
    top: 260px;
}

main .fourthSection>section>.firstBallon {
    position: absolute;
    width: 52px;
    height: 91px;
    left: 382px;
    top: 247px;

    background: url(image/ballon_blue.png);
    cursor: pointer;
}

main .fourthSection>section>.secondBallon {
    position: absolute;
    width: 52px;
    height: 91px;
    left: 382px;
    top: 353px;

    background: url(image/ballon_orange.png);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
}

main .fourthSection>section>.thirdBallon {
    position: absolute;
    width: 50px;
    height: 91px;
    left: 382px;
    top: 460px;

    background: url(image/ballon_aqua.png);
    cursor: pointer;
}

main .fourthSection>section>.fourthBallon {
    position: absolute;
    width: 52px;
    height: 91px;
    left: 382px;
    top: 568px;

    background: url(image/ballon_orange.png);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
}

main .fourthSection>.three>.firstIcon {
    position: absolute;
    width: 74.57px;
    height: 74.57px;
    left: 1068px;
    top: 519px;
}

main .fourthSection>.three>.secondIcon {
    position: absolute;
    width: 74.57px;
    height: 74.57px;
    left: 1159.14px;
    top: 519px;
}

main .fourthSection>.three>.thirdIcon {
    position: absolute;
    width: 74.57px;
    height: 74.57px;
    left: 1250.29px;
    top: 519px;
}

main .fourthSection>.three>.fourthIcon {
    position: absolute;
    width: 74.57px;
    height: 74.57px;
    left: 1341.43px;
    top: 519px;
}